<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mercadona" />
    <meta name="keywords" content="Mercadona, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mercadona homepage</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'appli/css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/jquery-ui.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'appli/css/style.css' %}"
      type="text/css"
    />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__close">+</div>
      <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li>
          <a href="#"
            ><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
          </a>
        </li>
        <li>
          <a href="#"
            ><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
          </a>
        </li>
      </ul>
      <div class="offcanvas__logo">
        <a href="./index.html"
          ><img src="{% static 'appli/img/logo.png' %}" alt=""
        /></a>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__auth">
        <a href="#">Connexion</a>
        <a href="#">inscription</a>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-2">
            <div class="header__logo">
              <a href="./index.html"
                ><img src="{% static 'appli/img/logo.png' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <nav class="header__menu">
              <ul class="text-center">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
                <li><a href="{% url 'pre_filtered_catalogue' gender='homme' %}">Homme</a></li>
                <li><a href="{% url 'pre_filtered_catalogue' gender='femme' %}">Femme</a></li>
                <li><a href="{% url 'pre_filtered_catalogue' gender='enfant' %}">Enfant</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__right">
              <div class="header__right__auth">
                <a href="#">Connexion</a>
                <a href="#">Inscription</a>
              </div>
              <ul class="header__right__widget">
                <li><span class="icon_search search-switch"></span></li>
                <li>
                  <a href="#"
                    ><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                  </a>
                </li>
                <li>
                  <a href="#"
                    ><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="canvas__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div
              class="categories__item categories__large__item set-bg"
              data-setbg="{% static 'appli/img/categories/category-1.jpg' %}"
            >
              <div class="categories__text">
                <h1>Mode féminine</h1>
                <p>
                  Sitamet, consectetur adipiscing elit, sed do eiusmod tempor
                  incidid-unt labore edolore magna aliquapendisse ultrices
                  gravida.
                </p>
                <a href="{% url 'pre_filtered_catalogue' gender='femme' %}">Voir</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div
                  class="categories__item set-bg"
                  data-setbg="{% static 'appli/img/categories/category-2.jpg' %}"
                >
                  <div class="categories__text">
                    <h4>Mode masculine</h4>
                    <p>358 produits</p>
                    <a href="{% url 'pre_filtered_catalogue' gender='homme' %}">Voir</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div
                  class="categories__item set-bg"
                  data-setbg="{% static 'appli/img/categories/category-3.jpg' %}"
                >
                  <div class="categories__text">
                    <h4>Mode enfants</h4>
                    <p>70 produits</p>
                    <a href="{% url 'pre_filtered_catalogue' gender='enfant' %}">Voir</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div
                  class="categories__item set-bg"
                  data-setbg="{% static 'appli/img/categories/category-4.jpg' %}"
                >
                  <div class="categories__text">
                    <h4>Bien-être</h4>
                    <p>159 produits</p>
                    <a href="{% url 'catalogue' %}">Voir</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div
                  class="categories__item set-bg"
                  data-setbg="{% static 'appli/img/categories/category-5.jpg' %}"
                >
                  <div class="categories__text">
                    <h4>Accessoires</h4>
                    <p>192 produits</p>
                    <a href="{% url 'catalogue' %}">Voir</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Categories Section End -->

    <!-- Banner Section Begin -->
    <section
      class="banner set-bg"
      data-setbg="{% static 'appli/img/banner/banner-1.jpg' %}"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-8 m-auto">
            <div class="banner__slider owl-carousel">
              <div class="banner__item">
                <div class="banner__text">
                  <span>La collection de Chloé</span>
                  <h1>Le Projet Veston</h1>
                  <a href="{% url 'catalogue' %}">Voir</a>
                </div>
              </div>
              <div class="banner__item">
                <div class="banner__text">
                  <span>La collection de Chloé</span>
                  <h1>Le Projet Veston</h1>
                  <a href="{% url 'catalogue' %}">Voir</a>
                </div>
              </div>
              <div class="banner__item">
                <div class="banner__text">
                  <span>La collection de Chloé</span>
                  <h1>Le Projet Veston</h1>
                  <a href="{% url 'catalogue' %}">Voir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Section End -->

    <!-- Discount Section Begin -->
    <section class="discount mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="discount__pic">
              <img src="{% static 'appli/img/discount.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="discount__text">
              <div class="discount__text__title">
                <span>incroyable!</span>
                <h2>été 2023</h2>
                <h5><span>jusqu'à</span> -50%</h5>
              </div>
              <div class="discount__countdown" id="countdown-time">
                <div class="countdown__item">
                  <span>22</span>
                  <p>Jours</p>
                </div>
                <div class="countdown__item">
                  <span>18</span>
                  <p>Heures</p>
                </div>
                <div class="countdown__item">
                  <span>46</span>
                  <p>Min</p>
                </div>
                <div class="countdown__item">
                  <span>05</span>
                  <p>Sec</p>
                </div>
              </div>
              <a href="{% url 'catalogue' %}">Voir</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Discount Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-car"></i>
              <h6>Envoi gratuit par nos magasins</h6>
              <p>Pour tout achat supérieur à 100 euros</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-money"></i>
              <h6>Remboursement garanti</h6>
              <p>sous un délai de 15 jours après achat</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-support"></i>
              <h6>Support en ligne 24/7</h6>
              <p>Toujours à votre écoute</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-headphones"></i>
              <h6>Près de chez vous</h6>
              <p>Nos enseignes sont dans toutes les grandes villes</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-1.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-2.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-3.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-4.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-5.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div
              class="instagram__item set-bg"
              data-setbg="{% static 'appli/img/instagram/insta-6.jpg' %}"
            >
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ Mercadona_shop</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                <a href="./index.html"
                  ><img src="{% static 'appli/img/logo.png' %}" alt=""
                /></a>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt cilisis.
              </p>
              <div class="footer__payment">
                <a href="#"
                  ><img
                    src="{% static 'appli/img/payment/payment-1.png' %}"
                    alt=""
                /></a>
                <a href="#"
                  ><img
                    src="{% static 'appli/img/payment/payment-2.png' %}"
                    alt=""
                /></a>
                <a href="#"
                  ><img
                    src="{% static 'appli/img/payment/payment-3.png' %}"
                    alt=""
                /></a>
                <a href="#"
                  ><img
                    src="{% static 'appli/img/payment/payment-4.png' %}"
                    alt=""
                /></a>
                <a href="#"
                  ><img
                    src="{% static 'appli/img/payment/payment-5.png' %}"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
            <div class="footer__widget">
              <h6>Liens rapides</h6>
              <ul>
                <li><a href="#">A propos de nous</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="footer__widget">
              <h6>Compte</h6>
              <ul>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">Mes produits favoris</a></li>
                <li><a href="#">Mes recherches</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="footer__newslatter">
              <h6>NEWSLETTER</h6>
              <form action="#">
                <input type="text" placeholder="Email" />
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
              <div class="footer__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="fa fa-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
              </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-produits-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'appli/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'appli/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'appli/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'appli/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'appli/js/mixitup.min.js' %}"></script>
    <script src="{% static 'appli/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'appli/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'appli/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'appli/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'appli/js/main.js' %}"></script>
  </body>
</html>
