{% if data %} {% for product in data %}
              <div class="col-lg-4 col-md-6">
                <div class="product__item">
                  <div
                    class="product__item__pic set-bg"
                  >
                  <img src="{{ product.product_picture.url }}" class="product_item_img">
                 
                    <ul class="product__hover">
                      <li>
                        <a
                          href="{{ product.product_picture.url }}"
                          class="image-popup"
                          ><span class="arrow_expand"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon_heart_alt"></span></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon_bag_alt"></span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6><a href="#">{{product.product_name}}</a></h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product__price">
                      {{product.product_price}} €
                    </div>
                  </div>
                </div>
            
              </div>
              
              {% endfor %} 
              {% include "appli/pagination.html" with page=posts %}
              {% endif %}