<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS  + Js -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'appli/style.css' %}" type="text/css">
    <title>Mercadona homepage</title>
  </head>
  <body id="homepageWallPaper">
    <div class="container-fluid">
      <nav class="row justify-content-end mt-3 ">
        
        <div class="col"> <a href="{% url 'catalogue' %}">LIEN</a> </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <button type="button" class ="nav-button">Magasins</button>
        </div>
       
        <div class="col">
          <button type="button" class ="nav-button">Catalogue</button>
        </div>
      
        <div class="col">
          <button type="button" class ="nav-button">Contacts</button>
        </div>

      </nav>
      <div class="row justify-content-end mt-3 ">
        <div class="col mercadona">Mercadona</div>
        <div class="col"></div>
        <div class="col"></div>
      </div>  
    </div>


  </body>
</html>